# APP
APP_PORT=9001
DEFAULT_USER_ID=00000000-0000-0000-0000-000000000000
# DB
PG_URL=jdbc:postgresql://localhost:5432/ragdb
PG_DB=ragdb
PG_USER=postgres
PG_PASSWORD=postgres
PG_PORT=5432
PGADMIN_PORT=5433
# AI
OLLAMA_PORT=11431
OLLAMA_URL=http://localhost:11431
OLLAMA_CHAT_MODEL=gemma3:4b-it-q4_K_M